@{
    ViewBag.Title = "Home Page";
}

<!--
        End Fixed Navigation
        ==================================== -->

<main class="site-content" role="main">

    <!--
    Home Slider
    ==================================== -->

    <section id="home-slider">
        <div id="slider" class="sl-slider-wrapper">

            <div class="sl-slider">

                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">

                    <div class="bg-img bg-img-1"></div>

                    <div class="slide-caption">
                        <div class="caption-content">

                        </div>

                    </div>

                </div>

                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-15" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">

                    <div class="bg-img bg-img-2"></div>
                    <div class="slide-caption">
                        <div class="caption-content">
                            <h2></h2>
                            <span></span>

                        </div>
                    </div>

                </div>

                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">

                    <div class="bg-img bg-img-3"></div>
                    <div class="slide-caption">
                        <div class="caption-content">
                            <h2></h2>
                            <span></span>

                        </div>
                    </div>

                </div>


            </div>

            <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                <a href="javascript:;" class="sl-prev">
                    <i class="fa fa-angle-left fa-3x"></i>
                </a>
                <a href="javascript:;" class="sl-next">
                    <i class="fa fa-angle-right fa-3x"></i>
                </a>
            </nav>


            <nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
                <span class="nav-dot-current"></span>
                <span></span>
                <span></span>
            </nav>

        </div><!-- /slider-wrapper -->
    </section>
    <hr />

    <!--
    End Home SliderEnd
    ==================================== -->
    <!-- about section -->
    <section id="about">
        <div class="container service-itemer">
            <div class="row">

                <div class="sec-title text-center">
                    <h2 class="wow animated bounceInLeft" style="color:white">Testimonies</h2>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-10 text-center wow animated zoomIn" data-wow-delay="0.6s">
                    <div class="service-itemer">
                        <div class="service-iconer">
                            <a href="#"><i class=""></i></a>
                            <img src="../../img/slider/boluwatife.jpg" class="bg-img bg-img-1" />
                        </div>
                        <h3 style="color:blue">BOLUWATIFE SOWOOLU</h3>


                        <p>
                            It was a dream come through when the opportunity to travel to Europe for an exchange program in Poland emerged in the year 2016.
                            The trip to Poland has exposed me to real practical study on my discipline. I have gained  both physical and intellectual experience, life and understanding.
                            I had the opportunity to get to know another culture and ethnics. Aside that, I have met alot of students from all over the whole world.
                            It is a great adventure and I am glad to be in Poland.
                        </p>
                    </div>
                </div>
                <div>



                    <div class="col-md-6 col-sm-6 col-xs-10 text-center wow animated zoomIn">
                        <div class="service-itemer">
                            <div class="service-iconer">
                                <a href="#"><i class=""></i></a>
                                <img src="../../img/slider/emeka.jpg" class="bg-img bg-img-1" />
                            </div>
                            <h3 style="color:blue">EMEKA NWAGBOSO</h3>
                            <p>
                                My stay in Poland has been wonderful. I had the priviledge of learning a <br /> new language I never though I would have come across in my life. 
                                <br />The mode of teaching is quite different from where
                                I came from. <br />I had the opportunity to interact with the lecturers and visiting Professors <br />from other countries.
                                Getting to be surrounded by a different<br /> culture and lots of new opportunities has been extremely inspiring to me.
                                <br />Thanks to Poland for offering me the opportunity.
                            </p>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 col-xs-10 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-itemer">
                            <div class="service-iconer">
                                <a href="#"><i class=""></i></a>
                                <img src="../../img/slider/feyisayo.jpg" class="bg-img bg-img-1" />
                            </div>
                            <h3 style="color:blue">FEYISAYO OLALERE</h3>
                            <p>
                                Finding my way to Poland has been an eye opening experience. I learned to adapt in a non-English speaking environment where I had the opportunity to learn the language.
                                I have been able to see the other side of my course. The lecturers are very helpful supportive.
                                Studying in Poland has been an helpful experience.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-10 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-itemer">
                            <div class="service-iconer">
                                <a href="#"><i class=""></i></a>
                                <img src="../../img/slider/daniel.jpg" class="bg-img bg-img-1" />
                            </div>
                            <h3 style="color:blue">KENECHUKWU CHUKWUNWIKE DANIEL</h3>
                            <p>
                                I realised upon getting to Poland that the Polish  education system is quite <br />different from my home country.
                                I have been able to grow physically and socially. <br />It has been nice to be part of the exchange program to Poland.
                                Its an added value.<br />No one can take the experience or pratical skills I have acquired in Poland.
                            </p>

                        </div>
                    </div>




                </div>
            </div>
        </div>


    </section>
    <hr />

    <!-- end about section -->

    <section id="login" class="bg bg-blue" style="color:white">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center">
                    <h2 class="wow animated bounceInLeft">ADMIN LOG IN</h2>
                    <br />
                    <br />
                    <br />
                    <br /><br /><br /><br /><br />
                    <a href="../Account/Login" class="btn btn-primary btn-effect" style="text-align:center">Click To Login</a>
                </div>
            </div>
        </div>


    </section>
    <hr />

    <section id="ceo" class="bg bg-blue" style="color:white">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center">
                    <h2 class="wow animated bounceInLeft">MEET THE CEO</h2>

                </div>
                <div class="">
                    @*<div class="">
                        <img src="../../img/slider/feyisayo.jpg" style="width:300px;height:400px" />
                        <img src="../../img/slider/feyisayo.jpg" style="width:300px;height:400px" />
                        <img src="../../img/slider/feyisayo.jpg" style="width:300px;height:400px" />

                    </div>*@

                </div>
            </div>
        </div>


    </section>
    <hr />


    <!-- end about section -->
    <!-- Service section -->
    <section id="service" class="bg bg-blue" style="color:white">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center">
                    <h2 class="wow animated bounceInLeft" style="color:white">Study in Poland</h2>

                </div>
                <div class="col-md-3 col-sm-3  col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-icon">
                            <a href="#service"><i class="fa fa-clock-o fa-3x"></i></a>
                        </div>
                        <h3 style="color:blue">Admission Process</h3>

                        <a href="https://www.studyinpoland.pl/en/index.php/how-to-apply" target="_blank" class="btn btn-blue ">How to Apply</a><br>
                        <div>
                            Admissions are opened for applicants willing to study in Poland.
                            Our company, Euroafrica Educational Services helps students in securing admission into
                            Poland Universities without hassle.
                            Lectures will be  commencing in October for fall semester and February for spring semester,
                            Candidates willing to study in Poland can contact our  office directly by e-mail (phone/fax).<br><br>
                        </div><hr>
                        <div>
                            In case a candidate requires a visa to stay and study on the territory of European Union,
                            We advise, he or she <br>should apply for selected program adequately earlier,<br> so that decision
                            concerning visa issuance is made before the fall/ spring semester begins.<br><br>
                        </div><hr>
                        @*<h4>
                            General Admission Requirements<br>
                            In general, the requirements for international students applying for universities in Poland are as follows:
                        </h4>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-3  col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                    <div class="service-item">
                        <div class="service-icon">
                            <a href="#service"><i class="fa fa-tasks fa-3x"></i></a>
                        </div>
                        <h3 style="color:blue">bachelors Degree</h3>
                        Admission Information for BA or BSC (Bachelors) Candidates:<br><hr>
                        <p>
                            *Notarized secondary school certificate or an official duplicate issued
                            by the candidate'shigh school,
                            filled<br>  out application form
                        <p><br><hr>
                        <p>*4 passport-size photographs</p><br><hr>
                        <p>*Copy of candidate’s ID (passport)</p><br><hr>
                        <p>
                            *Certificate of the English language proficiency optionally
                            (unless the high school courses were taught in English)
                        </p><br> <hr>
                        <p>
                            *Medical certificate with no contraindication for studying,
                            admission fee payment receipt.
                        </p><br><hr>

                    </div>
                </div>

                <div class="col-md-4 col-sm-3 col-xs-12 text-center wow animated zoomIn">
                    <div class="service-item">
                        <div class="service-icon">
                            <a href="#service"><i class="fa fa-home fa-3x"></i></a>
                        </div>
                        <h3 style="color:blue">Masters Degree</h3>
                        Admission Information for MA (Master) candidates:<br><hr>
                        <p>
                            *Undergraduate program diploma or an official<br> duplicate issued
                            by the university,
                        </p><hr>
                        <p>
                            *Candidate's CV with the details about the school and
                            professional career optionally,
                            one academic reference and one personal reference optionally,
                            filled out application form,
                        </p><hr>
                        <p>*4 passport-size photographs,</p><hr>
                        <p>*Copy of the candidate’s ID (passport),</p><hr>
                        <p>
                            *Proof of English language proficiency
                            (unless the first degree was taught in English),
                        </p><hr>
                        <p>
                            *Medical certificate with no contraindication for studying,
                            admission fee payment receipt.
                        </p><hr>
                        <p>However a candidate might be additionally asked to submit:</p>
                        <p>
                            *Notarized secondary school certificate or an official duplicate
                            issued by the candidate's high school (when applying for master program)
                        </p>
                        <p>
                            *A supplement to the undergraduate program diploma or a copy of the bachelor
                            thesis and other documentation.
                        </p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    
                        <h3 style="text-align:center;color:white">Important Note:</h3><br>
                    <marquee>
                        <h4 style="color:white">
                            Since some universities have additional various admission requirements,
                            This is why we advise applicants to contact us in order to help them solve issues to get admitted
                            to Polish Universities and hassle free.
                        </h4>
                    </marquee>
                </div>





            </div>
        </div>
    </section>
    <hr />
    <!-- end Service section -->
    <!-- portfolio section -->
    <section id="portfolio" class="bg bg-blue">
        <div class="overlay">
            <div class="container">
                <div class="row ">

                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2 style="color:white">OUR GALLERY</h2>

                    </div>


                    <ul class="project-wrapper wow animated fadeInUp">
                        <li class="portfolio-item  col-md-4">
                            <img src="../../img/portfolio/indian_student.jpg" class="img-responsive" alt="">
                            <figcaption class="mask col-md-4">
                                <h3>Students</h3>
                                <a href="../Home/StudentGallery"><p>Click here to view Students Gallery </p></a>
                            </figcaption>

                        </li>

                        <li class="portfolio-item col-md-4">
                            <img src="../../img/portfolio/careers1.jpg" class="img-responsive" alt="">
                            <figcaption class="mask col-md-4">
                                <h3>Partners</h3>
                                <a href="../Home/PartnerGallery"><p>Click Here to View our Partners </p></a>
                            </figcaption>

                        </li>

                        <li class="portfolio-item col-md-4">
                            <img src="../../img/portfolio/oxford.jpg" class="img-responsive" alt="">
                            <figcaption class="mask col-md-4">
                                <h3>Universities</h3>
                                <a href="../Home/UniversityGallery"><p>Click here to view Schools</p></a>
                            </figcaption>

                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </section>
    <!-- end portfolio section -->
    <!-- Testimonial section -->
    <section id="testimonials" class="parallax">
        <div class="overlay">
            <div class="container">
                <div class="row">

                    <div class="sec-title text-center white wow animated fadeInDown">
                        <h2>About Us</h2>
                    </div>

                    <div id="testimonial" class=" wow animated fadeInUp">
                        <div class="testimonial-item text-center">

                            <div class="clearfix">
                                <span>Vision</span>
                                <p>
                                    EAS is not just a brand name. It is an experience. it delivers a holistic view of the opportunities available in the education and study in Poland.
                                    Recognizing the ever-growing demand for quality education in Nigeria and to contribute to the country's need for a skilled workforce.
                                    The brand is trusted for the quality of advice, breadth of thinking, our values of ethics and integrity and processes that are transparent and streamlined that are all interwoven into every aspect of our counseling.
                                    The company provides an end to end service that begins with sensible and informed discussions with students and parents and ends with taking the hassle out of the application process,
                                    getting the visas done and preparing for life at a distant university leaving students free to get on with their academics or leaving them free to enjoy some leisure time.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item text-center">

                            <div class="clearfix">
                                <span>OUR MAIN IDEA</span>
                                <p>
                                    Passion to assist young people in making informed and sensible decisions, to progress their career path and in achieving their dreams to becoming successful global citizens.
                                    Our reward is when students or parents tell us that we helped them succeed in their goals and lives.
                                    I became interested in consulting when I finally articulated my personal mission, which is to help students gain admission to universities in Poland.
                                    I believe consulting is a natural extension of my desire to help others to be successful at an endeavor of their choosing.”
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item text-center">

                            <div class="clearfix">
                                <span>Mission Statement</span>
                                <p>
                                    Transforming lives by offering the right education and career guidance for students.
                                    To ensure that our students go through a hassle-free admission process to the university of their choice
                                    We aim at informing students and organisations about the best educational institutions thus improving the level of learning.
                                    Keeping the best interest of our clients and partners
                                    Merging Universities in Poland and Africa to form partnership.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item text-center">

                            <div class="clearfix">
                                <span>Value</span>
                                <p>
                                    Excellence is our major priority in whatever
                                    we do, working with integrity. Our customers are our priority,
                                    we offer excellent consultancy service.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <hr />
    <!-- end Testimonial section -->
    <!-- Price section -->
    <section id="price" class="parallax">
        <div class="overlay">
            <div class="container">
                <div class="row">

                    <div class="sec-title text-center white wow animated fadeInDown">
                        <h2 style="color:white;font-weight:bolder">About Poland</h2>
                    </div>

                    <div id="testimonial" class=" wow animated fadeInUp">
                        <div class="testimonial-item text-center">



                            <p style="color:white;font-weight:bolder;font-size:large">
                                Poland is Situated in the center of Europe,
                                Poland is among the largest and most populous countries in the region,nineth largest in Europe by area,
                                and sixth in the European Union (EU) by population.
                                Poland has enjoyed strong economic growth in recent years,
                                particularly since joining the EU in 2004; in the midst of the economic crisis of 2009,
                                Poland was the only European nation to report economic expansion.
                                With a history dating back for over a thousand years, Poland’s cultural heritage is incredibly rich.
                                This includes its longstanding traditions in the higher education sector, with the first university
                                in Poland founded in the 14th century.
                                Today, Poland is becoming an increasingly popular study destination,
                                with more than 46,000 international students choosing to study there in 2014/15.
                                For many of those who choose to study in Poland, the country’s appeal is augmented
                                by its relatively low living costs, which remain below those of most EU members.
                                University fees are likewise relatively affordable.
                                Today, Poland serves as an example in Europe and globally on how to modernize
                                education to equip the next generation with good fundamental cognitive skills needed for 21st century jobs.
                                Countries in Europe and beyond, especially those whose education systems and student
                                performance still resemble Poland’s of the 1990s,
                                are increasingly looking at Poland’s experience to understand how they could
                                learn from it in the design and implementation of their own reforms.
                                Given Poland’s changing demographics and greater importance of cognitive and
                                socio-emotional skills in Poland’s labor market,
                                expanding early childhood education and care programs is a very good economic and social investment.
                            <p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <hr />

    <!-- Social section -->
    <section id="social" class="parallax">
        <div class="overlay">
            <div class="container">
                <div class="row">

                    <div class="sec-title text-center white wow animated fadeInDown">
                        <h2>COLLABORATORS</h2>
                        <p style="font-size:x-large"><a href="/Collaborator/ListColl">List of our Collaborators</a></p>
                    </div>


                </div>
            </div>
        </div>
    </section>
</main>
