
@{
    ViewBag.Title = "PartnerGallery";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!--
       End Fixed Navigation
       ==================================== -->

<main class="site-content" role="main">
    <!-- about section -->
    <section id="social" class="parallax">
        <div class="container" style="color:white">
            <div class="row">

                <div class="sec-title text-center">
                    <h2 class="wow animated bounceInLeft" style="color:white">Partners Gallery</h2>

                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                    <div class="service-itemer">
                        <div class="student-iconer">
                            <a href="#"><i class=""></i></a>
                            <img src="../img/parallax/pat1.jpg" class="bg-img bg-img-student" />
                        </div>
                        <h3 style="color:white">
                            Wyzsza SzKola Administracji
                            Publicznej
                        </h3>



                    </div>
                </div>
                <hr />
                <div>



                    <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn">
                        <div class="service-itemer">
                            <div class="student-iconer">
                                <a href="#"><i class=""></i></a>
                                <img src="../img/parallax/pat2.png" class="bg-img bg-img-1" />
                            </div>
                            <h3 style="color:white">Babcock University</h3>

                        </div>
                    </div>



                    <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-itemer">
                            <div class="student-iconer">
                                <a href="#"><i class=""></i></a>
                                <img src="../img/parallax/pat3.jpg" class="bg-img bg-img-1" />
                            </div>
                            <h3 style="color:white">Crown Hill University</h3>

                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-itemer">
                            <div class="student-iconer">
                                <a href="#"><i class=""></i></a>
                                <img src="../img/parallax/pat4.png" class="bg-img bg-img-1" />
                            </div>
                            <h3 style="color:white">Akademia Humanistyczno Ekonomiczna</h3>

                        </div>
                    </div>






                    <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-itemer">
                            <div class="student-iconer">
                                <a href="#"><i class=""></i></a>
                                <img src="../img/parallax/pat5.jpg" class="bg-img bg-img-1" />
                            </div>
                            <h3 style="color:white">Hostel Molo</h3>

                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-itemer">
                            <div class="student-iconer">
                                <a href="#"><i class=""></i></a>
                                <img src="../img/parallax/pat6.png" class="bg-img bg-img-1" />
                            </div>
                            <h3 style="color:white">polonous school of foreigners</h3>

                        </div>
                    </div>
                </div>

            </div>

        </div>



    </section>
</main>
<!-- portfolio section -->
<section id="portfolio" class="bg bg-blue">
    <div class="overlay">
        <div class="container">
            <div class="row ">

                <div class="sec-title text-center wow animated fadeInDown">
                    <h1><a href="/Home/Index" class="btn btn-blue btn-effect">Go Back Home</a></h1>

                </div>
            </div>





        </div>
    </div>
</section> 

