
@{
    ViewBag.Title = "StudentGallery";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!--
        End Fixed Navigation
        ==================================== -->

<main class="site-content" role="main">
    <!-- about section -->
    <section id="social" class="parallax">
        <div class="container" style="color:white">
            <div class="row">

                <div class="sec-title text-center">
                    <h2 class="wow animated bounceInLeft" style="color:white">Students Gallery</h2>

                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                    <div class="service-itemer">
                        <div class="student-iconer">
                            <a href="#"><i class=""></i></a>
                            <img src="../img/slider/vc.jpg" class="bg-img bg-img-student" />
                        </div>
                        <h5 style="color:white">
                            The visit of the Vice Chancellor of Babcock <br>
                            University, Ogun state Nigeria to University of
                            Humanities and Economics Lodz Poland 2017
                        </h5>



                    </div>
                </div>
                <div>




                    <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn">
                        <div class="service-itemer">
                            <div class="student-iconer">
                                <a href="#"><i class=""></i></a>
                                <img src="../img/parallax/mat1.jpg" class="bg-img bg-img-1" />
                            </div>
                            <h5 style="color:white">Student Matriculation</h5>

                        </div>
                    </div>



                    <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-itemer">
                            <div class="student-iconer">
                                <a href="#"><i class=""></i></a>
                                <img src="../img/parallax/mat4.jpg" class="bg-img bg-img-1" />
                            </div>
                            <h5 style="color:white">Student Matriculation</h5>

                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-itemer">
                            <div class="student-iconer">
                                <a href="#"><i class=""></i></a>
                                <img src="../img/parallax/mat3.jpg" class="bg-img bg-img-1" />
                            </div>
                            <h5 style="color:white">Student Matriculation</h5>

                        </div>
                    </div>






                    <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-itemer">
                            <div class="student-iconer">
                                <a href="#"><i class=""></i></a>
                                <img src="../img/parallax/mat5.jpg" class="bg-img bg-img-1" />
                            </div>
                            <h5 style="color:white">Student Matriculation</h5>

                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-itemer">
                            <div class="student-iconer">
                                <a href="#"><i class=""></i></a>
                                <img src="../img/parallax/mat6.jpg" class="bg-img bg-img-1" />
                            </div>
                            <h5 style="color:white">Student Matriculation</h5>

                        </div>
                    </div>
                </div>

            </div>

        </div>



    </section>
</main>
<!-- portfolio section -->
<section id="portfolio" class="bg bg-blue">
    <div class="overlay">
        <div class="container">
            <div class="row ">

                <div class="sec-title text-center wow animated fadeInDown">
                    <h1><a href="../Home/Index" class="btn btn-blue btn-effect">Go Back Home</a></h1>

                </div>
            </div>





        </div>
    </div>
</section> 

