
@{
    ViewBag.Title = "UniversityGallery";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!--
       End Fixed Navigation
       ==================================== -->

<main class="site-content" role="main">
    <!-- about section -->
    <section id="social" class="parallax">
        <div class="container" style="color:white">
            <div class="row">

                <div class="sec-title text-center">
                    <h2 class="wow animated bounceInLeft" style="color:white">Universities Gallery</h2>

                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                    <div class="service-itemer">
                        <div class="student-iconer">
                            <i class=""></i>
                            <img src="../img/parallax/pat4.png" class="bg-img bg-img-student" />
                        </div>
                        <div>
                            <a href="../../Home/Humanities" class="btn btn-blue btn-effect">Akademia Humanistyczno Ekonomiczna</a>
                        </div>
                        <br />
                        <br />
                        <br />



                    </div>
                </div>
                <br />
                <br />
                <br />
                <div>





                    <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn">
                        <div class="service-itemer">
                            <div class="student-iconer">
                                <i class=""></i>
                                <img src="../img/parallax/pat6.png" class="bg-img bg-img-1" />
                            </div>
                            <div>
                                <a href="../../Home/polonous" class="btn btn-blue btn-effect">Polonous School of Foreigners</a>
                            </div>
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                    <br />



                    <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-itemer">
                            <div class="student-iconer">
                                <i class=""></i>
                                <img src="../img/parallax/pat5.jpg" class="bg-img bg-img-1" />
                            </div>
                            <div>
                                <a href="../../Home/HostelMolo" class="btn btn-blue btn-effect">Hostel Molo</a>
                            </div>
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                    <br />

                    <div class="col-md-12 col-sm-12 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-itemer">
                            <div class="student-iconer">
                                <i class=""></i>
                                <img src="../img/parallax/pat1.jpg" class="bg-img bg-img-1" />
                            </div>
                            <div>
                                <a href="../../Home/Wasp" class="btn btn-blue btn-effect">Wyzsza SzKola Administracji Publicznej</a>
                            </div>
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>







                </div>

            </div>
            </div>



    </section>
</main>
<!-- portfolio section -->
<section id="portfolio" class="bg bg-blue">
    <div class="overlay">
        <div class="container">
            <div class="row ">

                <div class="sec-title text-center wow animated fadeInDown">
                    <h1><a href="/Home/Index" class="btn btn-blue btn-effect">Go Back Home</a></h1>

                </div>
            </div>





        </div>
    </div>
</section>



